* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
}

:root {
    --font-size: 16px;
    --color: rgb(143, 127, 127);
}

.header {
    height: 900px;
    padding: 0px 300px;
    background-image: url(./Assets/01.\ -Contact-Hero\ Section.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.navbar {
    padding: 30px 0px;
}



.container-fluid {
    padding: 0;
    display: flex;
    gap: 84px;
}

.navigation-bar .navbar-nav .nav-item .nav-link {
    text-decoration: none;
    color: white;
}

.navbar-nav {
    width: 775px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ced4da;
    border-radius: 68px;
    text-decoration: none;
}

.hero {
    height: 882px;
    padding: 100px 0px 250px 0px;
    display: flex;
    flex-direction: column;
    gap: 125px;
}

.hero-heading {
    font-size: 4.625rem;
    font-weight: 400;
    color: white;

}

.form {
    padding: 100px 300px;
    display: flex;
    gap: 24px;
}

.form-column-1 {
    padding: 40px 80px;
    width: 588px;
    background-color: #bdddd2;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    font-size: 2.5rem;
    font-weight: 600;
}

.form-column-2 {
    width: 100%;
    height: 563px;
    background-image: url(./Assets/Img-3.png);
    background-size: cover;
    border-radius: 20px;
}

.choos_us {
    padding: 100px 300px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.choose-heading {
    font-size: 2.5rem;
    font-weight: 700;
}

.choose-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col_content_1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.offers {
    font-size: 1.5rem;
    font-weight: 500;
}

.details {
    font-size: 1rem;
    font-weight: 400;

}

.col_1,
.col_3 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.locations {
    padding: 100px 300px;
    background-color: #d5f5ea;
}

.black {
    color: #000;
}

.team {
    padding: 100px 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.team-heading {
    width: 100%;
    font-size: 2.5rem;
    font-weight: 600;
}

.team-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.member-image-1 {
    width: 100%;
    height: 400px;
    background-image: url(./Assets/team1.png);
    background-size: cover;
    border-radius: 20px;
}

.member-image-2 {
    width: 100%;
    height: 400px;
    background-image: url(./Assets/team2.png);
    background-size: cover;
    border-radius: 20px;
}

.member-image-3 {
    width: 100%;
    height: 400px;
    background-image: url(./Assets/team3.png);
    background-size: cover;
    border-radius: 20px;
}

.member-name {
    font-weight: 600;
    margin: 0;
}

.member-role {
    font-weight: 400;
    margin: 0;
}

.team-col {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.blogs {
    padding: 100px 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.blogs-heading {
    width: 100%;
    font-size: 2.5rem;
    font-weight: 600;
}

.blog-row {
    width: 100%;
    display: flex;
    gap: 24px;
}

.blog-column {
    padding: 10px;
    background-color: #E2FBF8;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    box-shadow: 6px 12px 4px #bfbfbf;
}

.blog-img-1 {
    width: 100%;
    height: 354px;
    background-image: url(./Assets/blog-img.png);
    background-size: cover;
    border-radius: 20px;
}

.blog-img-2 {
    width: 100%;
    height: 354px;
    background-image: url(./Assets/blog-img-2.png);
    background-size: cover;
    border-radius: 20px;
}

.blog-img-3 {
    width: 100%;
    height: 354px;
    background-image: url(./Assets/blog-img-3.png);
    background-size: cover;
    border-radius: 20px;
}

.blog-content-titles {
    width: 100%;
    display: flex;
    gap: 32px;
    font-size: 1rem;
    font-weight: 500;
}

.blog-sub {
    font-size: 1.25rem;
    font-weight: 700;
}

.partner {
    padding: 100px 300px;
}

.partner-heading {
    font-size: 2.5rem;
    font-weight: 500;
}

.button_2 {
    width: 240px;
    padding: 8px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 48px;
    font-size: 1.125rem;
    color: #1b1111;
}

.icon_2 {
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: black;
    color: #ffffff;
}

.partner-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.partner {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.brands {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.brand-1 {
    font-size: 1.125rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer {
    background: #000;
    padding: 100px 300px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-row-1-col-1 {
    display: flex;
    align-items: left;
}

.footer-row-1-col-2 {
    width: 260px;
    height: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.icons {
    width: 40px;
    height: 40px;
    background-color: #00b67a;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail {
    text-align: left;
    color: white;
    font-size: 1rem;
}

.address,
.location {
    margin: 0;
}

.footer-row-1 {
    display: flex;
    align-items: center;
}

.footer-row-2-col-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    color: white;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.footer-row-2-col-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    color: white;
}

.footer-heading {
    font-size: 1.5rem;
    font-weight: 500;
}

.footer-row-2-col-3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    color: white;
}

.text-border::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    position: relative;
    left: 0;
    top: 20px;
    background-color: white;
    opacity: 0.5;
}

.footer-row-3-col-1 {
    text-align: left;
    color: white;
}

.footer-row-3-col-2 {
    text-align: right;
    color: white;
}