* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
}

:root {
    --font-size: 16px;
    --color: rgb(143, 127, 127);
}

.header {
    height: 900px;
    padding: 0px 300px;
    background-image: url(./Assets/01.\ -About-Hero\ Section.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.navbar {
    padding: 30px 0px;
}



.container-fluid {
    padding: 0;
    display: flex;
    gap: 84px;
}

.navigation-bar .navbar-nav .nav-item .nav-link {
    text-decoration: none;
    color: white;
}

.navbar-nav {
    width: 775px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ced4da;
    border-radius: 68px;
    text-decoration: none;
}

.hero {
    height: 882px;
    padding: 100px 0px 250px 0px;
    display: flex;
    flex-direction: column;
    gap: 125px;
}

.hero-heading {
    font-size: 4.625rem;
    font-weight: 400;
    color: white;
}

.about {
    padding: 100px 300px;
}

.about-col-1 {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: left;
    line-height: 40px;
}

.variety {
    text-align: left;
}

.variety-heading {
    font-size: 2rem;
    font-weight: 500;
}

.variety-sub {
    font-size: 1rem;
    font-weight: 400;
}

.video {
    margin: 100px 300px;
    background-image: url(./Assets/Img+\ button.png);
    height: 600px;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #00b67a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counting {
    padding: 100px 300px;
}

.counting-num {
    font-size: 5rem;
    font-weight: 700;
}

.counting-sub {
    font-size: 1.25rem;
    font-weight: 400;
}

.counting-col-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.counting-col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.counting-col-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

.promotion {
    width: 100%;
    padding: 100px 300px;
    position: relative;
}

.promo-heading {
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
}

.promo-sub {
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
}

.promo {
    height: 417px;
    padding: 80px 100px;
    background-color: #102926;
    border-radius: 40px;
    position: relative;
}

.promo-content {
    position: absolute;
    right: 100px;
}

.app {
    display: flex;
    gap: 24px;
}

.mobile {
    position: absolute;
    top: 10px;
    left: 500px;
}

.testimonial {
    padding: 100px 300px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.testimonial-heading {
    font-size: 2.5rem;
    font-weight: 700;
}

.testimonial-sub {
    font-size: 1.25rem;
    font-weight: 400;
}

.testimonial-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonial-content {
    padding: 15px;
    width: 100%;
    height: 683px;
    display: flex;
    align-items: end;
    background-image: url(./Assets/Frame\ 266.png);
    background-size: cover;
    border-radius: 20px;
}

.review-heading {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: left;
}

.review-sub {
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
}

.star {
    text-align: left;
}

.fa-star {
    color: #edaf49;
}

circle-check {
    color: #6c6c83;
}

.varify {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.name {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: left;
}

.acc {
    display: flex;
    align-items: center;
    gap: 10px;
}

.account {
    display: flex;
    justify-content: space-between;
}

.testimonial-card {
    padding: 20px;
    width: 304px;
    background-color: #e2fbf8;
    border-radius: 20px;
}

.testimonial-row {
    display: flex;
    gap: 24px;
}
.faq{
    padding: 100px 300px;
}
.faq-heading{
     font-size: 2.5rem;
    font-weight: 600;
}
.accordion{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.accordion-item{
    background-color: #e2fbf8;
}

.book-car {
    padding: 100px 300px;
}

.book-col {
    padding: 58px;
    padding-left: 86px;
    background-color: #4acba1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.car {
    font-size: 3rem;
    font-weight: 600;
    text-align: left;
    color: white;
    margin: 0;
    
}
.car-sub{
     font-size: 1rem;
    font-weight: 400;
    text-align: left;
    color: white;
    margin: 0;
}
.car-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px
}
.book{
    padding: 13px 28px;
    width: 132px;
}
.book-col-2{
    background-image: url(./Assets/Frame\ 130.png);
    background-size: cover;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.partner {
    padding: 100px 300px;
}

.partner-heading {
    font-size: 2.5rem;
    font-weight: 500;
}

.button_2 {
    width: 240px;
    padding: 8px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 48px;
    font-size: 1.125rem;
    color: #1b1111;
}

.icon_2 {
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: black;
    color: #ffffff;
}

.partner-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.partner {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.brands {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.brand-1 {
    font-size: 1.125rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer {
    background: #000;
    padding: 100px 300px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-row-1-col-1 {
    display: flex;
    align-items: left;
}

.footer-row-1-col-2 {
    width: 260px;
    height: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.icons {
    width: 40px;
    height: 40px;
    background-color: #00b67a;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail {
    text-align: left;
    color: white;
    font-size: 1rem;
}

.address,
.location {
    margin: 0;
}

.footer-row-1 {
    display: flex;
    align-items: center;
}

.footer-row-2-col-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    color: white;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.footer-row-2-col-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    color: white;
}

.footer-heading {
    font-size: 1.5rem;
    font-weight: 500;
}

.footer-row-2-col-3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    color: white;
}

.text-border::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    position: relative;
    left: 0;
    top: 20px;
    background-color: white;
    opacity: 0.5;
}

.footer-row-3-col-1 {
    text-align: left;
    color: white;
}

.footer-row-3-col-2 {
    text-align: right;
    color: white;
}